<MudCard>
    <MudCardContent>
        <MudPaper Class="d-flex flex-row flex-grow-1 gap-4" Elevation="0">
            <ProjectCarousel></ProjectCarousel>
            <MudDivider Vertical="true" FlexItem="true" />
            <MudList>
                <MudListItem Avatar="@Icons.Material.Filled.Image">
                    <MudText Typo="Typo.h4">ProjectName</MudText>
                </MudListItem>
                <MudDivider />
                <MudListItem Avatar="@Icons.Material.Filled.Image">
                    <MudText Typo="Typo.h6">ProjectTechnology</MudText>
                </MudListItem>
                <MudListItem Avatar="@Icons.Material.Filled.Image">
                    <MudText Typo="Typo.h6">Highlight</MudText>
                </MudListItem>
                <MudListItem Avatar="@Icons.Material.Filled.Image">
                    <MudText Typo="Typo.h6">Highlight</MudText>
                </MudListItem>
                <MudListItem Avatar="@Icons.Material.Filled.Image">
                    <MudText Typo="Typo.h6">Highlight</MudText>
                </MudListItem>
            </MudList>
        </MudPaper>
    </MudCardContent>
    <MudDivider DividerType="MudBlazor.DividerType.Middle" />
    <MudCardActions>
    <MudExpansionPanels MultiExpansion="true">
        <MudExpansionPanel Text="Overview" Style="font-size:1.3rem">
            <MudText Typo="Typo.body1">body1. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos blanditiis tenetur unde suscipit, quam beatae rerum inventore consectetur, neque doloribus, cupiditate numquam dignissimos laborum fugiat deleniti? Eum quasi quidem quibusdam.</MudText>
                <div class="d-flex flex-row flex-grow-4 gap-2" style="margin-top:15px">
                <MudButton Href="https://github.com/MudBlazor/MudBlazor"
                           Target="_blank"
                           Variant="MudBlazor.Variant.Filled"
                           EndIcon="@Icons.Custom.Brands.GitHub"
                           Color="MudBlazor.Color.Primary">
                    GitHub Link
                </MudButton>
                    <MudDivider Vertical="true" FlexItem="true" />
                <MudButton Href="https://github.com/MudBlazor/MudBlazor"
                           Target="_blank"
                           Variant="MudBlazor.Variant.Filled"
                           EndIcon="@MudBlazor.Icons.Material.Rounded.Games"
                           Color="MudBlazor.Color.Secondary">
                    Game Page
                </MudButton>
            </div>
        </MudExpansionPanel>
    </MudExpansionPanels>
    </MudCardActions>
 </MudCard>


@code {
    void Change(object value, string name, string action)
    {
        
    }
}