
<div class="project-carousel gradient-border">
    <MudCarousel ShowArrows="@arrows" Style="height:350px" ShowBullets="@bullets" EnableSwipeGesture="@enableSwipeGesture" AutoCycle="@autocycle" AutoCycleTime="System.TimeSpan.FromSeconds(10)" TData="object">
        @if (imageUrls != null){
            foreach(var imageUrl in imageUrls)
		    {
			    <MudCarouselItem Transition="transition" Style="display:grid; place-items:center">
                      <MudImage Fluid="true" ObjectFit="MudBlazor.ObjectFit.Contain" Src="@imageUrl" Style="max-height:100%" />
			    </MudCarouselItem>
		    }
        }
    </MudCarousel>
</div>
@code {

    [Parameter]
    public List<string>? imageUrls { get; set; }

    private int width = 500;
    private int height = 350;
    private bool arrows = true;
    private bool bullets = true;
    private bool enableSwipeGesture = true;
    private bool autocycle = true;
    private Transition transition = Transition.Slide;
}

