@using Shared.Models;
@inject PortfolioWebsite.Client.Services.ProjectService ProjectService;
<MudCard>
    <MudCardContent>
        <MudPaper Class="d-flex flex-row flex-grow-1 gap-4" Elevation="0">
            <MudGrid>
            <ProjectCarousel imageUrls="@project.ImageUrls"/>
            <MudDivider Vertical="true" FlexItem="true" />
            <MudList Class="ml-5">
                <MudListItem>
                    <MudText Typo="Typo.h4">@project.Title</MudText>
                </MudListItem>
                <MudDivider />
                <MudListItem Avatar="@Icons.Material.Filled.Computer">
                    <MudText Typo="Typo.h6">@project.SubTitle</MudText>
                </MudListItem>
                @foreach (var highlight in @project.Highlights)
				{
					<MudListItem Avatar="@Icons.Material.Filled.Star" Class="ml-10">
						<MudText Typo="Typo.h6">@highlight</MudText>
					</MudListItem>
				}
            </MudList>
            @if(admin)
			{
				<MudButton Variant="MudBlazor.Variant.Filled" Color="MudBlazor.Color.Primary" OnClick="@(async () => await ProjectService.DeleteProject(project.ID.ToString()))">Delete</MudButton>
			}
            </MudGrid>
        </MudPaper>
    </MudCardContent>
    <MudDivider DividerType="MudBlazor.DividerType.Middle" />
    <MudCardActions>
    <MudExpansionPanels MultiExpansion="true" Style="flex:auto">
        <MudExpansionPanel Text="Overview" Style="font-size:1.3rem">
                <MudText Typo="Typo.body1">@project.Description</MudText>
                <div class="d-flex flex-row flex-grow-4 gap-2" style="margin-top:15px">
                    @if (project?.GithubURL != null && project?.GithubURL != "")
                    {
                        <MudButton Href="@project.GithubURL"
                        Target="_blank"
                        Variant="MudBlazor.Variant.Filled"
                        EndIcon="@Icons.Custom.Brands.GitHub"
                        Color="MudBlazor.Color.Primary">
                            GitHub Link
                        </MudButton>
                    }
                    <MudDivider Vertical="true" FlexItem="true" />
                    @if (project?.ProjectURL != null && project?.ProjectURL != "")
					{
						<MudButton Href="@project.ProjectURL"
						Target="_blank"
						Variant="MudBlazor.Variant.Filled"
						EndIcon="@MudBlazor.Icons.Material.Rounded.Games"
						Color="MudBlazor.Color.Secondary">
							Game Page
						</MudButton>
					}
            </div>
        </MudExpansionPanel>
    </MudExpansionPanels>
    </MudCardActions>
 </MudCard>
 

@code {

    [Parameter]
    public Project? project { get; set; }
    [Parameter]
    public bool admin { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        //if project null then generate a placeholder
        if(project == null)
        {
            project = new Project();
			project.Title = "Project Title";
			project.Description = "Project Description";
			project.SubTitle = "Technologies Used";
			project.Highlights = new List<string> { "Highlight 1", "Highlight 2", "Highlight 3" };
			project.ImageUrls = new List<string> { "" };
            project.ProjectURL = "";
            project.GithubURL = "";
        }
        if(project.ImageUrls == null){
			project.ImageUrls = new List<string> { "images/Placeholder.png" };
		}
    }

    void Change(object value, string name, string action)
    {
        
    }
}